{% load staticfiles %}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'home' %}" class="brand-logo">Campus Jankari</a>
      <!--
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'search' %}?search_type=college">College</a></li>
        <li><a href="{% url 'search' %}?search_type=university">University</a></li>
        <li><a href="{% url 'courses' %}">Course</a></li>
      </ul>

    -->
    </div>
  </nav>
