{% load staticfiles %}
{% include 'frontendapp/common/include_head.html' %}


<main>


{% include 'frontendapp/common/include_nav.html' %}



{% if college %}
  <div class="container">
    <div class="carousel carousel-slider center" data-indicators="true">
     <div class="carousel-fixed-item center">
     </div>
     <div class="carousel-item red white-text" href="#one!">
         <img class="responsive-img" id ="test" src="{{college.model_pic.url}}">
     </div>
     <div class="carousel-item amber white-text" href="#two!">
         <img  class="responsive-img" src="{{college.model_pic_1.url}}">
     </div>
     <div class="carousel-item green white-text" href="#three!">
         <img  class="responsive-img" src="{{college.model_pic_2.url}}">
     </div>
     <div class="carousel-item blue white-text" href="#four!">
         <img  class="responsive-img" src="{{college.model_pic_3.url}}">
     </div>
   </div>
  </div>

   <div class="container">

     <!--Basic Info -->
     <div class="card-panel">
     <h5 class="center">{{ college.name }}</h5>


     <hr />
     <div class='row'>
       <div class="col s12 m6 l6">
         <span class="center">
         <p>Affiliations : <span class="light">{{ college.university }}</span></p>
        </span>
       </div>
       <div class="col s12 m6 l6">
         <span class="center">
         <p>Date Founded : <span class="light">{{ college.date_founded }}</span></p>
        </span>
       </div>
       <div class="col s12 m6 l6">
         <span class="center">
         <p>Address : <span class="light">{{ college.address }}</span></p>
        </span>
       </div>
       <div class="col s12 m6 l6">
         <span class="center">
         <p>Website : <span class="light"><a href={{ college.website }} target="_blank">{{ college.website }}</a></span></p>
        </span>
       </div>
     </div>
    </div>

     <!-- Tabs -->
      <div class="row">
        <div class="col s12">
          <ul class="tabs teal-text">
            <li class="tab col s3"><a href="#test1">Courses</a></li>
            <li class="tab col s3"><a href="#test3">Placements</a></li>
            <li class="tab col s3"><a href="#test4">Activities</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">
          <p class="center">No of courses provided: {{ course_list|length }}</p>
          <ul class="collection">
            {% for course in course_list %}
              <li class="collection-item">{{ course.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div id="test3" class="col s12">
          <p class="light italic">
            {{ college.placement_text }}
          </p>
        </div>
        <div id="test4" class="col s12">
          <p class="light italic">
           {{ college.activity_text }}
         </p>
        </div>
      </div>

   </div>


 {% else %}
   You seem to be lost
 {% endif %}

</main>


{% include 'frontendapp/common/include_footer.html' %}
{% include 'frontendapp/common/include_jsscripts.html' %}

<!-- Carousel sizing -->
<script>
  $('.carousel.carousel-slider').carousel({full_width: true});
</script>

<!-- Image Loading -->
<script>
$("img").on('load', function() { $('.progress').remove()})
</script>
