
	    <form class="col s12"  action="{% url 'search'%}" method="post">
				{% csrf_token %}

	        <div class="input-field col s12 m8 l8">
						<i class="material-icons prefix">search</i>
	          <input placeholder="Search" id="collegename" type="text" class="validate" name="collegename">
	          <!-- <label for="collegename">Search</label> -->
	        </div>

					<div class="input-field col s6 m2 l2">

				      <input name="search_type" type="radio" id="test1" value="college" checked />
				      <label for="test1">College</label>
					</div>
					<div class="input-field col s6 m2 l2">
				      <input name="search_type" type="radio" id="test2" value="university" />
				      <label for="test2">University</label>
					</div>

	  	</form>
