{% include "frontendapp/search_bar.html" %}

{% if college_list %}
	<table>
		<thead>
			<th>College</th>
			<th>University</th>
		</thead>
		<tbody>
    		{% for college in college_list %}
	    		<tr>
        		<td><a href="{% url 'college' college.id %}">{{ college.name }}</a></td>
        		<td>{{ college.university }}</td>
	    		 </tr>
    		{% endfor %}
    	</tbody>
	</table>
{% else %}
	{% if university_list %}
			<table>
				<thead>
					<th>University</th>
				</thead>
				<tbody>
						{% for university in university_list %}
							<tr>
								<td><a href="{% url 'university' university.id %}">{{ university.name }}</a></td>
							</tr>
						{% endfor %}
					</tbody>
			</table>
		{% else %}
    	<p>No results found.</p>
		{% endif %}
{% endif %}
