
{% load staticfiles %}
{% include 'frontendapp/common/include_head.html' %}


<main>


{% include 'frontendapp/common/include_nav.html' %}


{% if university %}

<div class="container">
  <!--Basic Info -->
  <div class="card-panel">
  <h5 class="center">{{ university.name }}</h5>
  <hr />
  <div class='row'>
    <div class="col s12 m6 l6">
      <span class="center">
      <p>Website : <span class="light"><a href="{{ university.website }}" target="_blank">{{ university.website }}</a></span></p>
     </span>
    </div>
    <div class="col s12 m6 l6">
      <span class="center">
      <p>Date Founded : <span class="light">{{ university.date_founded }}</span></p>
     </span>
    </div>
    <div class="col s12 m6 l6">
      <span class="center">
      <p>Country : <span class="light">{{ university.country }}</span></p>
     </span>
    </div>
  </div>
 </div>
 <!-- Tabs -->
  <div class="row">
    <div class="col s12">
      <ul class="tabs teal-text">
        <li class="tab col s3"><a href="#test1">Colleges</a></li>
        <li class="tab col s3"><a href="#test2">Ranking</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
        {% if college_list %}
            <div class="collection">
              {% for college in college_list %}
                <a href="{% url 'college' college.id %}" class="collection-item">{{ college.name }}</a>
              {% endfor %}
            </div>
        {% else %}
          No colleges registered with us.
        {% endif %}
    </div>
    <div id="test2" class="col s12">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

</div>



{% else %}
  You seem to be lost
{% endif %}


</main>


{% include 'frontendapp/common/include_footer.html' %}
{% include 'frontendapp/common/include_jsscripts.html' %}
